@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

.page-section {
  width: 100%;
}

.container {
  container-type: inline-size;
  position: relative;
  width: 100%;

  &-boxed, &-narrow {
    @extend .container;
    margin: 0 auto;
  }

  &-boxed {
    max-width: var.$maxContentWidth;
    padding-inline: clamp(0.75rem, Round(3.125cqw, 1px), Round(var.$maxContentWidth * 0.03125, 1px));
  }

  &-narrow {
    max-width: Round(min(66.666667%, 0.666667 * var.$maxContentWidth), 1px);
  }

  &--no-gap {
    padding: 0;
  }
}