@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

main {
  flex: 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}