@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

section {
  width: 100%;
}

.container {
  width: 100%;

  &-boxed {
    @extend .container;
    max-width: var.$maxContentWidth;
    margin-inline: max(.75rem, max(3.125cqw, (100dvw - var.$maxContentWidth) / 2));
  }

  &-narrow {
    @extend .container;
    max-width: min(70%, 0.7 * var.$maxContentWidth);
    margin-inline: max(.75rem, max(3.125cqw, (100dvw - var.$maxContentWidth * 0.8) / 2));
  }

  &--no-gap {
    padding: 0;
  }
}