*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// Reset h-tags
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

// Media elements reset
img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

// Input reset
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

// List reset
ul,
ol {
  list-style: none;
}

// Link reset
a {
  text-decoration: none;
  color: inherit;
}

// Button reset
button {
  border: none;
  background: none;
  cursor: pointer;
}